* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// this is the image
.main-group {
  stroke-linecap: round;
  opacity: 0.7684;
  text-anchor: middle;

  image {
    width: 50%;
    height: 50%;
    border-radius: 50px;
    transform: translate(25%, 20%);
  }

  .text-top {
    fill: #000;
    letter-spacing: 0.0079375px;
  }
}
