//importing fonts
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap"); 

html {
    background: #ac8764;
}

$font: "Coiny";
$text: "Fuzzy Bubbles";

//shade of brown 
$primary-color: #c5a787; 
$dark-brown:#301f17; 
$light-brown: #63402c;
$ted-brown: #8f664a;
$milk-brown: #ac8764;

$card-width: 920px;
$card-radius: 18px;


$bg-gradient-start: #826B72;
$bg-gradient-end: #F7dac1;
$card-shadow: 0 12px 30px #d8b0a0; 
$accent-gradient: linear-gradient(90deg, #ff7aa8 0%, #6eb7ff 100%);
$muted: #9aa6bf;
$white: #ffffff;
$breakpoint-sm: 720px;