@import "layout/main-page"; // Main page styles
@import "layout/header"; // Header styles
@import "layout/signin"; // Sign-in page styles
@import "layout/upload"; // Upload page styles
@import "layout/footer"; // Footer styles
